# Email Report Automation

Imagine you are now living in February 1968 and every month you receive the number of car sales for the previous month. 
Your boss asks you: 
1. tell him the sales figures for the previous month e.g. Jan 1968
2. Give him an overview of the sales trend for the same month in previous years, e.g. sales in January 1960, January 1961, ... January 1968

In [4]:
df = pd.read_csv("monthly-car-sales.csv")
df

       Month  Sales
0    1960-01   6550
1    1960-02   8728
2    1960-03  12026
3    1960-04  14395
4    1960-05  14587
..       ...    ...
103  1968-08  16722
104  1968-09  14385
105  1968-10  21342
106  1968-11  17180
107  1968-12  14577

[108 rows x 2 columns]