## Exercise 3

**Q1: Complete the script so that it prints out a list containing letters a, c, e, g, and i so the at a step of two**

In [ ]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [7]:
print(letters[::2])

['a', 'c', 'e', 'g', 'i']

**Q2a: Create a script that generates a list of numbers from 1 to 20. Do not create a list manually.**

In [8]:
my_range = range(1, 21)
print(list(my_range))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

**Q2b: Create a script that generates a list of the original list items multiplied by 10**

In [9]:
my_range = range(1, 21)
print([10 * x for x in my_range])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

**Create a script that converts all items of the range to strings**
my_range = range(1, 21)

In [13]:
my_range = range(1, 21)
list(map(str, my_range))

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20']

**Q3: Write a script that remove duplicates from a list**

In [93]:
a = ["1", 1, "1", 2]

In [94]:
a = list(set(a))
print(a)

[1, 2, '1']

**Q4: Create a dictionary of two keys, a and b and two values 1 and 2 for keys a and b respectively.**

In [95]:
d = {"a": 1, "b": 2}
print(d)

{'a': 1, 'b': 2}

**Q4a: Print out the value of key b**

In [96]:
print(d["b"])

2

**Q4b: Calculate the sum of value of key a and value of key b and print it out**

In [97]:
print(d["b"] + d["a"])

3

**Q4c: Add a c key with a value of 3 to the dictionary and print out the updated dictinary**

In [98]:
d["c"] = 3
print(d)

{'a': 1, 'b': 2, 'c': 3}

**Q4d: Find the sum of all values**

In [99]:
print(sum(d.values()))

6

**Q4e: Filter out values of equal or greater than 2**

In [101]:
fil = dict((key, value) for key, value in d.items() if value >= 2)
print(fil)

{'b': 2, 'c': 3}

**Q5: Create a dictionary of keys a, b, c where each key has as value a list from 1 to 10, 11 to 20, and 21 to 30 respectively and print out**

In [102]:
d = dict(a = list(range(1, 11)), b = list(range(11, 21)), c = list(range(21, 31)))
print(d)

{'a': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'b': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'c': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]}

**Q5a: Access the third value of key b**

In [103]:
print(d['b'][2])

13

**Q5b: Create a for loop that it prints out the output like below:** \
a has value [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] \
b has value [11, 12, 13, 14, 15, 16, 17, 18, 19, 20] \
c has value [21, 22, 23, 24, 25, 26, 27, 28, 29, 30] \
*Hint: You may consider to use: for k, v in d.items()*

In [106]:
for key, value in d.items():
    print(key, "has value", value)

a has value [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b has value [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
c has value [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

**Q6: Make a script that prints out letters of English alphabet from a to z** \
*Hint: You may consider to use the package "string" and method "ascii_lowercase"*

In [107]:
import string

for letter in string.ascii_lowercase:
    print(letter, end = " ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

**Q7: Make a script that prints out numbers from 1 to 10**

In [108]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

**Q8: Write a function that calculates acceleration given the formula:** \
a = (v2 - v1) / t2 - t1 \
**Test the function with v1=0, v2=10, t1=0, t2=20**

In [109]:
def acceleration(v1, v2, t1, t2):
    a = float(v2 - v1) / float((t2 - t1))
    return a

print(acceleration(0,10,0,20))

0.5

**Q9: Why is the error and how to fix it?**

In [110]:
def foo(a, b):
    print(a + b)

x = foo(2, 3) * 10

5

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

**Q10: Why do you get an error and how would you fix it?**

In [111]:
def foo(a=2, b):
    return a + b

print(foo(3, 4))

SyntaxError: non-default argument follows default argument (297519175.py, line 1)

**Q11: Create a function that takes a string e.g. "Hey there it's me!" and returns the number (length) of words**

In [112]:
def count_words(string):
    string_list = string.split(" ")
    return len(string_list)

print(count_words("Hey there it's me!"))

4

**Q12: This script is supposed to print out the square root of 9, but there's an error. Correct it!**

In [2]:
math.sqrt(9)

NameError: name 'math' is not defined

**Q13: Calculate the cosine of 90, use the package "math"**

In [4]:
import math
print(math.cos(90))

-0.4480736161291702

**Q14: Fix the error below:**

In [5]:
a = "1"
b = 2
print(a + b)

TypeError: can only concatenate str (not "int") to str

**Q15: Calculate the power 3 of 2 with the “math” package.**

In [6]:
import math
print(math.pow(2, 3))

8.0

**Q16: Print out in each line the sum of homologous items from the two sequences**
*Hint: use for loop with "zip"*

In [7]:
a = [1, 2, 3]
b = (4, 5, 6)

for i, j in zip(a, b):
    print(i + j)

5
7
9

**Q17: Fix the error below, the output should be "e"**

In [10]:
for letter in "Hello":
    if letter == "e":
    print(letter)

IndentationError: expected an indented block after 'if' statement on line 2 (1415318742.py, line 3)

**Q18: Complete the script so that it prints out the second letter of the list**

In [11]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]
print(letters[1])

b

**Q19: Fix the error below**

In [13]:
print(type("Hey".replace("ey","i")[-1])

SyntaxError: incomplete input (2850745866.py, line 1)

**Q20: Fix the error below**

In [15]:
firstname = "Peter"
secondname = "Muller"
print("Your first name is {} and your second name is {}" firstname, secondname)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3275970821.py, line 3)

**Q21a: Print out the last name of the second employee**

In [18]:
d = {"employees":[{"firstName": "John", "lastName": "Doe"},
                {"firstName": "Anna", "lastName": "Smith"},
                {"firstName": "Peter", "lastName": "Jones"}],
"owners":[{"firstName": "Jack", "lastName": "Petter"},
          {"firstName": "Jessy", "lastName": "Petter"}]}

In [17]:
print(d['employees'][1]['lastName'])

Smith

**Q21b: Change the last name of the second employee to "Smooth"**

In [80]:
d = {"employees":[{"firstName": "John", "lastName": "Doe"},
                {"firstName": "Anna", "lastName": "Smith"},
                {"firstName": "Peter", "lastName": "Jones"}],
"owners":[{"firstName": "Jack", "lastName": "Petter"},
          {"firstName": "Jessy", "lastName": "Petter"}]}

In [19]:
d['employees'][1]['lastName'] = "Smooth"
d

{'employees': [{'firstName': 'John', 'lastName': 'Doe'},
  {'firstName': 'Anna', 'lastName': 'Smooth'},
  {'firstName': 'Peter', 'lastName': 'Jones'}],
 'owners': [{'firstName': 'Jack', 'lastName': 'Petter'},
  {'firstName': 'Jessy', 'lastName': 'Petter'}]}

**Q21c: Add a new employee (Albert Bert) to the dictionary and print the dict out**

In [20]:
d = {"employees":[{"firstName": "John", "lastName": "Doe"},
                {"firstName": "Anna", "lastName": "Smith"},
                {"firstName": "Peter", "lastName": "Jones"}],
"owners":[{"firstName": "Jack", "lastName": "Petter"},
          {"firstName": "Jessy", "lastName": "Petter"}]}

d["employees"].append(dict(firstName = "Albert", lastName = "Bert"))
d

{'employees': [{'firstName': 'John', 'lastName': 'Doe'},
  {'firstName': 'Anna', 'lastName': 'Smith'},
  {'firstName': 'Peter', 'lastName': 'Jones'},
  {'firstName': 'Albert', 'lastName': 'Bert'}],
 'owners': [{'firstName': 'Jack', 'lastName': 'Petter'},
  {'firstName': 'Jessy', 'lastName': 'Petter'}]}

**Q22: Print out three lines saying for instance item 1 has index 0, and so on.** \
*Hint: Use for loop with "enumerate"*

In [22]:
a = [1, 2, 3]

In [23]:
for index, item in enumerate(a):
    print("Item %s has index %s" % (item, index))

Item 1 has index 0
Item 2 has index 1
Item 3 has index 2

**Q23: Complete the script so that it prints out a list containing letters d, e, f.**

In [24]:
letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j"]

In [25]:
print(letters[3:6])

['d', 'e', 'f']

**Q24: Create a while loop to print “Hello!” if i<=3, otherwise “Goodbye!” and end the loop.** \
*Hint: You can use an “if” condition for i>3 and “break” to end the loop.*

In [1]:
i = 0
while i<=3:
    print("Hello")
    i = i + 1
    if i > 3:
        print("Goodbye")
        break

Hello
Hello
Hello
Hello
Goodbye

**Q24: Create a function that takes a word in English from d and translates it into Spanish** \
*Consider user may enter different letter cases e.g. "Weather" instead of "weather"*

In [28]:
d = dict(weather = "tiempo", earth = "tierra", rain = "lluvia")

In [29]:
def vocabulary(word):
    return d[word.lower()]
print(vocabulary("Weather"))

tiempo