## Variables

**Q1: Create a variable with name "x" and a value of 10. Execute.**

In [1]:
x=10

**Q1a: Tell the computer to show you the value of that variable.**

In [2]:
x

10

**Q1b: Can you think of a second way to obtain the same result?**

In [3]:
print(x)

10

**Q2: On the same line, create four new variables: a,b,c, and d, that are equal to 10, 20, 30, and 40, respectively.**

In [9]:
a,b,b,d = 10, 20, 30, 40

**Q2a: Tell the computer to show you the value corresponding to the variable "b".**

In [7]:
b

20

**Q2b: Do the same for "d".**

In [8]:
d

40

## Numbers and Boolean Values

**Q1: Create a variable equal to "True".**

**Q1a: Check its type.**

**Q2: Create a variable equal to 99.**

**Q2b: Check its type.**

**Q3: Check the type of the value 0.99.**

**Q4: Turn 99 into a float.**

**Q5: Turn 0.99 into an integer. What value did you get?**

## Strings

**Q1: Assign the value of 100 to the variable "m".**

**Q2: With the help of the variable "m", write one line of code where the output after executuion would be** *100 days*.

**Q3: Produce an output equal to** *It's cool, isn't it?*

**Q4: Fix the string below.**

In [1]:
'Don't be shy

SyntaxError: invalid syntax (4258567132.py, line 1)

## Arithmetic operators

**Q1: Combine 15 and 23.**

**Q2: Subtract 50 from 26.**

**Q3: Divide 20 by 4.**

**Q4: Divide 22 by 4.**

**Q5: Obtain the remainder of the division of 22 by 4.**

**Q6: Divide the float 22 by 4.**

**Q7: Multiply 6 by 8.**

**Q8: Raise 15 to the power of 2.**

## Comparison Operators

**Q1e: Check whether the following code is True or False.**

**Q1a: False or not True and not False**

**Q1b: True and not False and True or not False**

**Q1c: True or False and False**

**Q1d: False and True or False**

**Q2: Using an identity operator, verify that 10 is not the same as 12.**

**Q3: Using an identity operator, verify that 50 is the same as 50.**

**Q4: Demonstrate that 100 is not equal to 98.**

**Q5: Verify that 25 is smaller than 30.**

**Q6: Verify that 5 multiplied by 3 is less than or equal to 5 to the power of 3.**

**Q7: Verify that 100 is equal to 10 square.**

**Q8: Verify that 53 is not equal to 46.**

## Reassign Values

**Q1: Assign the value of 14 to a variable p.**

**Q1a: Calculate p + 10.**

**Q1b: Now, assign 30 to the variable p.**

**Q1c: Calculate p + 10.**

**Observe how the value of p is always the last one you have assigned.**

## Indexing Elements

**Q1: Extract the letter 'B' from "Bingo!".**

**Q2: Extract the letter "u" from "Constitution".**

## Lists

**Q1: Create a list, called "numbers". Let it contain the numbers 10, 25, 40, and 50.**

**Q1a: Print the element at index 2 from the list.**

**Q1b: Print the 0th element.**

**Q1c: Print the third-to-last element using a minus sign in the brackets.**

**Q1d: Substitute the number 10 with the number 15.**

**Q1e: Delete the number 25 from the "numbers" list.**

**Q2: numbers = [15, 40, 50, 100, 115, 140]**

In [6]:
numbers = [15, 40, 50, 100, 115, 140]

**Q2a: Using list slicing, obtain the numbers 100 and 115.**

**Q2b: Using slicing, extract the first four elements from the list.**

**Q2c: Using slicing, extract all the elements from the list from the 3rd position onwards.**

**Q2d: Using slicing, extract the last 4 elements from the list.**

**Q2e: Which is the position (index) of the value 15?**

**Q2f: Create a list, called "two_numbers". Let its elements be the values 1 and 2. Then, create a new one, named "all_numbers", that will containt both the "numbers" and the "two_numbers" lists.**

**Q2g: Sort all the numbers in the "Numbers" list from the largest to the smallest.**

**Q3a: Append the number 100 to the list below.**

In [7]:
num_list = [15, 40, 50]

**Q3b: With the help of the "extend method", add the numbers 115 an 140 to the list.**

**Q3c: Print a statement, saying "The fourth element of the num_list is:" and then designate the value of the fourth element.**

**Q3d: How many elements are there in the num_list?**

## Tuples

**Q1: Create a tuple, called "Cars", with elements "BMW", "Dodge", and "Ford".**

**Q1a: Access the second element of this tuple.**

**Q2: Call a method that would allow you to extract the provided name and age separately. Then print the "name" and "age" values to see if you worked correctly.**

In [1]:
name, age = 'Peter,24'

ValueError: too many values to unpack (expected 2)

**Q3: Create a function that takes as arguments the two values of a rectangle and then returns the Area and the Perimeter of the rectangle.
Call the function with arguments 2 and 10 to verify it worked correctly.**

## Dictionaries

**Q1: This is the menu of a close-by restaurant:**

In [1]:
menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}

**Q1a: What is the second meal in the list?**

**Q1b: Add a new meal - "Soup".**

**Q1c: Replace the Hamburger with a Cheeseburger.**

**Q1d: Attach the Desserts list in the form of a sixth meal.**

In [2]:
dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

**Q1e: Create a new dictionary that contains the first five meals as keys and assign the following five values as prices (in dollars):
10, 5, 8, 12, 5.** 
Start by *Price_list = {}*.

**Q1f: Use the *.get()* method to check the price of the Spaghetti.**

**Q2: Calculate how much a customer spent on products with a price of 5 dollars or more.**

In [4]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

**Q3: How much did a customer spend on products that cost less than 5 dollars?**

In [5]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

## Create Lists with the range() Function

**Q1: Use the range() function to create a list with all numbers from 1 to 10.**

**Q2: Use the range() function to create a list with all numbers from 0 to 19.**

**Q3: Use the range function to create a list with all even numbers from 0 to 30 included.**

## Else if

**Q1: Create a two-line code that prints "The condition has been satisfied" if 5 is greater than 2.**

**Q2: Assign 10 to the variable x and 25 to the variable y. In the same cell, create 2 conditional statements. Let the first one print "Both conditions are correct" if x is greater then 3 and y is greater than 13. Let the second one print "At least one of the conditions is false" if x is less than or equal to 3 and y is less than or equal to 13. 
Change the values assigned to x and y and re-run the cell to verify your code still works.**

**Q3: Assign 200 to x.
Create the following piece of code:
If x > 200, print out "Big"; 
If x > 100 and x <= 200, print out "Average"; 
and If x <= 100, print out "Small".
Use the If, Elif, and Else keywords in your code.**

**Q3a: Change the initial value of x to see how your output will vary.**

**Q3b: Keep the first two conditions of the previous code. Add a new ELIF statement, so that, eventually, the program prints "Small" if x >= 0 and x <= 100, and "Negative" if x < 0. 
Let x carry the value of 50 and then of -50 to check if your code is correct.**

**Q4: Let x represent the number of orders received during a certain day. 
Assign 102 to x. Create a program that prints "A busy day" if x is greater than 100, and "A calm day" otherwise. Change x to 97 to verify your code works properly.**

## For Loops

**Q1: Create a For loop that prints every digit on a new line.**

In [ ]:
digits = [0,1,2,3,4,5,6,7,8,9]

**Q1a: Adjust the code, so the digits are all printed on the same line.** *Hint: use parameter "end" of print()*

## While Loops

**Q1: Create a while loop that will print all odd numbers from 0 to 30 on the same row.**

## Use Conditional Statements and Loops Together

**Q1: Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.**

**Q2: Create a little program that runs a loop over all values from 1 to 30. Let it print all Odd numbers, and in the place of the even numbers, it should print "Even".
Help yourself with the range() function to solve this exercise.**

**Q3: You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10.**

In [8]:
n = [1,2,3,4,5,6]

## Structure Your Code with Indentation

**Q1: Use indentation properly to print the result of the function with an argument of 3.**

In [ ]:
def ten(x):
    x = 10
    return x
    print (ten(3))

## Notable Built-In Functions in Python

**Q1a: Obtain the maximum number among the values 25, 65, 890, and 15.**

**Q1b: Obtain the minimum number among the values 25, 65, 890, and 15.**

**Q2: Find the absolute value of -100**

**Q3: Round the value of 55.5. Did you obtain 56.0?**

**Q4: Round 35.56789 to the third digit.**

**Q5: Find the sum of all elements in the provided list, called "nums".**

In [9]:
nums = [1, 5, 64, 24.5]

**Q6: Use a built-in function to raise 10 to the power of 3.**

**Q7: How many characters are there in the word "Elephant"?**

**Q8: Create a function, called "distance_from_zero", that returns the absolute value of a provided single argument and prints a statement "Not Possible" if the argument provided is not a number.
Call the funtion with the values of -10 and "cat" to verify it works correctly.**

## Functions

**Q1: Define a function that returns a value equal to its argument multiplied by 2.**

**Q2: Define a funciton that returns a float value equal to its argument divided by 2.**

**Q3: Define a function, called **compare_the_two()**, with two arguments. If the first one is greater than the second one, let it print "Greater". If the second one is greater, it should print "Less". Let it print "Equal" if the two values are the same number.**

**Q4: You are provided with the 'nums' list. Complete the code in the cell that follows. Use a while loop to count the number of values lower than 20.**

In [10]:
nums = [1,12,24,31,51,70,100]

**Q5: Define a function that adds 5 to the parameter. Then, define another function that will multiply the newly obtained number by 3.
Verify your code was correct by calling the second function with an argument of 5. 
Was your output equal to 30?**