# Data Input and Output

In [1]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [2]:
df = pd.read_csv('example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### CSV Output

In [3]:
df.to_csv('example',index=False)

## Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [5]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1', index_col=0)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

### Excel Output

In [7]:
df.to_excel('Excel_Sample_output.xlsx',sheet_name='Sheet1')

## HTML

You may need to install htmllib5,lxml, and BeautifulSoup4. In your terminal/command prompt run:

    conda install lxml
    conda install html5lib
    conda install BeautifulSoup4

Then restart Jupyter Notebook.
(or use pip install if you aren't using the Anaconda Distribution)

Pandas can read table tabs off of html. For example:

### HTML Input

Pandas read_html function will read tables off of a webpage and return a list of DataFrame objects:

In [5]:
dfs = pd.read_html('https://afd.calpoly.edu/web/sample-tables')

In [6]:
len(dfs)

6

In [7]:
dfs[3]

,Aligned Left,Aligned Center,Aligned Right
0,Academic Senate Meeting,"May 25, 2205",Building 99 Room 1
1,Commencement Meeting,"December 15, 2205",Building 42 Room 10
2,"Lorem ipsum dolor sit amet, consectetuer adipi...","Lorem ipsum dolor sit amet, consectetuer adipi...","Lorem ipsum dolor sit amet, consectetuer adipi..."
3,Lorem ipsum dolor,Lorem ipsum dolor,Lorem ipsum dolor

____

# Great Job!