## Variables

**Q1: Create a variable with name "x" and a value of 10. Execute.**

**Q1a: Tell the computer to show you the value of that variable.**

**Q1b: Can you think of a second way to obtain the same result?**

**Q2: On the same line, create four new variables: a,b,c, and d, that are equal to 10, 20, 30, and 40, respectively.**

**Q2a: Tell the computer to show you the value corresponding to the variable "b".**

**Q2b: Do the same for "d".**

## Numbers and Boolean Values

**Q1: Create a variable equal to "True".**

**Q1a: Check its type.**

**Q2: Create a variable equal to 99.**

**Q2b: Check its type.**

**Q3: Check the type of the value 0.99.**

**Q4: Turn 99 into a float.**

**Q5: Turn 0.99 into an integer. What value did you get?**

## Strings

**Q1: Assign the value of 100 to the variable "m".**

**Q2: With the help of the variable "m", write one line of code where the output after executuion would be** *100 days*.

**Q3: Produce an output equal to** *It's cool, isn't it?*

**Q4: Fix the string below.**

In [ ]:
'Don't be shy

## Arithmetic operators

**Q1: Combine 15 and 23.**

**Q2: Subtract 50 from 26.**

**Q3: Divide 20 by 4.**

**Q4: Divide 22 by 4.**

**Q5: Obtain the remainder of the division of 22 by 4.**

**Q6: Divide the float 22 by 4.**

**Q7: Multiply 6 by 8.**

**Q8: Raise 15 to the power of 2.**

## Comparison Operators

**Q1: Demonstrate that 100 is not equal to 98.**

## Reassign Values

**Q1: Assign the value of 14 to a variable p.**

**Q1a: Calculate p + 10.**

**Q1b: Now, assign 30 to the variable p.**

**Q1c: Calculate p + 10.**

**Observe how the value of p is always the last one you have assigned.**

## Indexing Elements

**Q1: Extract the letter 'B' from "Bingo!".**

**Q2: Extract the letter "u" from "Constitution".**

## Lists

**Q1: Create a list, called "numbers". Let it contain the numbers 10, 25, 40, and 50.**

**Q1a: Print the element at index 2 from the list.**

**Q1b: Print the 0th element.**

**Q1c: Print the third-to-last element using a minus sign in the brackets.**

**Q1d: Substitute the number 10 with the number 15.**

**Q1e: Delete the number 25 from the "numbers" list.**

**Q2: numbers = [15, 40, 50, 100, 115, 140]**

In [6]:
numbers = [15, 40, 50, 100, 115, 140]

**Q2a: Using list slicing, obtain the numbers 100 and 115.**

**Q2b: Using slicing, extract the first four elements from the list.**

**Q2c: Using slicing, extract all the elements from the list from the 3rd position onwards.**

**Q2d: Using slicing, extract the last 4 elements from the list.**

**Q2e: Which is the position (index) of the value 15?**

**Q2f: Create a list, called "two_numbers". Let its elements be the values 1 and 2. Then, create a new one, named "all_numbers", that will containt both the "numbers" and the "two_numbers" lists.**

**Q2g: Sort all the numbers in the "Numbers" list from the largest to the smallest.**

## Tuples

**Q1: Create a tuple, called "Cars", with elements "BMW", "Dodge", and "Ford".**

**Q1a: Access the second element of this tuple.**

**Q2: Call a method that would allow you to extract the provided name and age separately. Then print the "name" and "age" values to see if you worked correctly.**

In [ ]:
name, age = 'Peter,24'

**Q3: Create a function that takes as arguments the two values of a rectangle and then returns the Area and the Perimeter of the rectangle.
Call the function with arguments 2 and 10 to verify it worked correctly.**

## Create Lists with the range() Function

**Q1: Use the range() function to create a list with all numbers from 1 to 10.**

**Q2: Use the range() function to create a list with all numbers from 0 to 19.**

**Q3: Use the range function to create a list with all even numbers from 0 to 30 included.**